<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Главная страница</title>
  </head>
  <header class="bg-green-100 h-20 flex justify-between shadow-lg">
    <h1 class="font-caveat text-3xl px-4 py-4">Название сайта</h1>
    <div class="flex items-center text-lg font-comfortaa font-bold">
      <button class="btn rounded bg-yellow-300 px-3 py-2 mx-4 my-4">
        Вход
      </button>
      <button class="btn rounded bg-yellow-300 px-3 py-2 mx-4 my-4">
        Регистрация
      </button>
    </div>
  </header>
  <body class="bg-gray-200"></body>
</html>
